.add__videoTitleLabel {
  display: flex;
  flex-direction: column;
  font-size: 14.4px;
  padding: 10px 0px 0px 0px;
  height: auto;
}

.add__imageVideoLabel > p {
  margin-bottom: 10px;
}
.add__videoTitleLabel > input {
  background-color: rgba(90, 90, 90, 0.03);
  width: 95%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.add__videoTitle {
  color: white;
}

.add__videoTitleLabel > p {
  margin-bottom: 10px;
}
